/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$font-family-sans-serif: 'Gotham', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold:  700;
$font-weight-base: $font-weight-light;

$theme-colors: (
  primary: #525ddc
);

$container-max-widths: (
  sm: 540px,
  md: 800px,
  lg: 960px,
  xl: 1230px
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
